@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.font-russo-one {
  font-family: "Russo One", sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 0.05rem;
}

* {
  font-family: "Chakra Petch", sans-serif;
  color: #f3f3f3;
}
.recharts-tooltip-label {
  color: #000 !important;
  font-weight: bold;
}
.recharts-tooltip-item:first-child * {
  color: blue !important;
}
.recharts-tooltip-item:last-child * {
  color: red !important;
}
tspan {
  color: white !important;
}
body {
  margin: 0 !important;
  padding: 8px !important;
  background-color: #1b1d1f;
}

.font-bold {
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.btn-header {
  @apply h-5 transition-all duration-200 cursor-pointer w-7;
}

.btn-close:hover {
  @apply opacity-20;
}

.label-state-weather {
  margin-top: -32px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.svgImageBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.forecast-chart {
  width: 100%;
  height: 200px;
}

.recharts-surface {
  color: aqua !important;
}

select {
  @apply p-3 text-white bg-transparent border border-slate-500 rounded-xl;
}
option {
  @apply text-black;
}

.text-2xs {
  font-size: 0.6rem;
  line-height: 0.8rem;
}

.temperature-letter {
  @apply flex items-center justify-center w-10 h-10 border rounded-full cursor-pointer border-slate-600;
}

.city-container {
  @apply flex flex-col items-center justify-between w-full gap-2 px-4 py-2 transition-all duration-300 bg-slate-700 rounded-xl hover:bg-cyan-900;
  @apply md:flex-row md:w-3/5;
}

.main-menu {
  @apply fixed top-0 left-0 z-50 w-full h-full;
  @apply md:relative md:w-fit md:flex-row md:-mt-2 md:flex;
}

.main-menu > .menu-container {
  @apply flex flex-col w-3/4 h-full gap-2 px-4 py-6 bg-slate-800;
  @apply md:flex-row md:bg-transparent;
}

.main-menu > .menu-container > .menu-nav-bar {
  @apply flex flex-col w-full gap-2 list-none;
  @apply md:items-center md:flex-row md:my-0 md:bg-slate-300;
}

.menu-nav-bar a {
  @apply flex w-full transition-all duration-100 opacity-100;
}

.menu-nav-bar a:hover {
  @apply pl-1 text-slate-400;
}
.menu-nav-bar a:hover::before {
  content: url("https://api.iconify.design/carbon:chevron-right.svg?color=silver&width=20&height=20");
  max-height: 22px;
  margin-top: 2px;
}

.citylist-container {
  @apply flex flex-col w-full gap-3;
  @apply md:flex-row md:flex-wrap md:justify-center;
}

.citylist-item {
  @apply flex items-center justify-between px-4 py-2 transition-all duration-300 cursor-pointer bg-slate-800 rounded-xl bg-opacity-70 hover:bg-cyan-900;
  @apply md:w-2/5;
  @apply lg:w-1/4;
}

.weather-details {
  @apply flex flex-row items-center justify-center flex-1 w-full gap-3;
  @apply lg:w-1/3 lg:justify-end;
}
.weather-parts {
  @apply flex flex-row items-center justify-center flex-1 w-full h-full;
  @apply md:w-5/6;
  @apply lg:justify-start;
}
.weather-parts > .parts {
  @apply flex items-center justify-around w-full p-4 bg-opacity-70 bg-slate-800 rounded-xl;
  @apply md:w-3/5;
  @apply lg:w-1/2;
}

.citypage-details {
  @apply flex flex-col items-center justify-around w-full gap-3;
  @apply lg:flex-row lg:items-center lg:justify-center;
}

.forecast-24-container {
  @apply flex flex-col items-center justify-between w-full gap-3;
  @apply md:w-3/4;
}
.forecast-24-container-items {
  @apply flex w-full gap-3 overflow-x-auto overflow-y-hidden text-xs hide-scrollbar;
  @apply lg:justify-between lg:overflow-x-visible lg:overflow-y-visible;
}
.forecast-24-item {
  @apply flex flex-col items-center justify-center px-4 py-2 bg-slate-800 rounded-xl bg-opacity-70 min-w-[95px];
  @apply md:flex-1;
}

.forecast-chart-container {
  @apply flex flex-col items-center justify-between w-full gap-3;
  @apply md:w-3/4;
}
